@model GameDevCompaniesWebApplication.GamesDevelopers

@{
    ViewData["Title"] = "Details";
    //Layout = "GameDevCompanies";
}

<h1>Details</h1>

<div>
    <h4>GamesDevelopers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Engine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subsidiaries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subsidiaries.Location)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
